{% load static %}
<!DOCTYPE html>
<hrml>
    <head>
        <title>Post Detail</title>
    </head>
    <body>
        <p>{{ post.content }}</p>
{% if post.image and post.image.name %}
    <img src="{{ post.image.url }}" alt="post image" width="300px" height="200px">
{% else %}
    <img src="{% static 'images/default-post.png' %}" width="300px" height="200px">
{% endif %}
        <p>Author: {{ post.author.first_name }} {{ post.author.last_name }}</p>
        <p>Created at: {{ post.created_at }}</p>
        <a href="{% url 'posts:update' post.pk %}">Edit Post</a>
        <form method="post" action="{% url 'posts:delete' post.pk %}">
            {% csrf_token %}
            <button type="submit">Delete Post</button>
        </form>
    </body>
</html>