{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>postino</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="sidebar">
    <a href="post" class="sidebar-item">Home</a>
    <a href="create" class="sidebar-item">Posts</a>
    <a href="#" class="sidebar-item">Profile</a>
    <a href="#" class="sidebar-item">Settings</a>
    <button type="button" class="logout-btn" id="logoutBtn">Logout</button>
</div>
<div id="posts-container">
    {% for post in posts %}
    <div class="post">
    <div class="post-gallery">
            {% if post.image and post.image.name %}
    <div class="gallery-item">
    <img src="{{ post.image.url }}" alt="post image">
    </div>
            {% else %}
    <div class="gallery-item">
    <img src="{% static 'images/default-post.png' %}" alt="post image">
    </div>
            {% endif %}
  
    </div>
    <div class="post-header">
    <div class="post-user">
    <img src="{% static 'images/profile_Guest.png' %}" class="profile-image" alt="profile">
    <div class="user-data">
    <h3>{{ post.author }}</h3>
    <span>@{{ post.author }}</span>
    </div>
    </div>
    <form method="post" action="#">
                {% csrf_token %}
    <button type="submit" class="follow-btn">Follow<span class="follow-count">1.2K</span>
    </button>
    </form>
    </div>
    <div class="post-content">
    <p>{{ post.content }}</p>
    </div>
    <div class="post-footer">
    <form method="post" action="#">
                {% csrf_token %}
    <button type="submit" class="action-btn">
    <img src="../../media/like.png" class="action-icon" alt="like">
     <span>128</span>
    </button>
    </form>
    <form method="post" action="#" >
                {% csrf_token %}
    <button type="submit" class="action-btn">
    <img src="../../media/comment.png" class="action-icon" alt="comment">
    <span>42</span>
    </button>
    </form>
    <form method="post" action="#" class="detail">
                {% csrf_token %}
    <button type="submit" class="action-btn detail" >
    <img src="../../media/details.png" class="action-icon" alt="details">
    <span>details</span>
    </a>
        </div>
    </div>
    {% endfor %}
</div>
</form>
<form method="post" action="#"></form>
<div class="logout-modal" id="logoutModal">
    <div class="logout-box">
    <h3>خروج از حساب</h3>
    <p>آیا مطمئن هستید؟</p>
    <div class="logout-actions">
    <button type="button" class="cancel-btn" id="cancelBtn">Cancel</button>
    <form method="post" action="{% url 'accounts:logout' %}">
                {% csrf_token %}
    <button type="submit" class="confirm-btn">Logout</button>
    </form>
    </div>
    </div>
    </div>

<script src="{% static 'js/post_list.js' %}"></script>

</body>
</html>