{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Post Detail</title>
    <link rel="stylesheet" href="../../static/css/post_detail.css">
</head>
<body>
{% include "includes/sidebar.html" %}
<div class="container">
<div class="post-card">
<div class="post-image-box">
{% if post.image and post.image.name %}

<img src="{{ post.image.url }}" class="post-image">
{% endif %}
</div>
<div class="post-content">
<h1 class="title">Post Details</h1>
<p class="content">
{{ post.content }}
</p>
<div class="info-box">
<p>
Author :
{% if post.author.first_name %}
{{ post.author.first_name }}
{% endif %}
{% if post.author.last_name %}
{{ post.author.last_name }}
{% endif %}
</p>
<p>
Created :
{{ post.created_at }}
</p>
</div>
<div class="buttons">
</form>
            <!-- LIKE -->
{% if request.user.profile in post.likes.all %}
<form method="post" action="{% url 'posts:unlike' post.id %}">
    {% csrf_token %}
    <button type="submit" class="action-btn">
        <img src="/media/like.png" class="action-icon" alt="like">
        <span>{{ post.likes.count }}</span>
    </button>
</form>

{% else %}

<form method="post" action="{% url 'posts:like' post.id %}">
    {% csrf_token %}
    <button type="submit" class="action-btn">
        <img src="/media/like.png" class="action-icon" alt="like">
        <span>{{ post.likes.count }}</span>
    </button>
</form>

{% endif %}

            <!-- COMMENT -->
<a href="{% url 'posts:post_comments' post.id %}" class="action-btn-link" style="text-decoration: none;">
    <button type="button" class="action-btn">
        <img src="/media/comment.png" class="action-icon" alt="comment">
        <span>{{ post.comments.count }}</span>
    </button>
</a>
</div>
</div>
</div>
</div>
</body>
</html>