{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>postino</title>
    <link rel="stylesheet" href="{% static 'css/style.css'  %}">

</head>
<body>
 
    <div id="posts-container">
      {% for post in posts  %}
        <div class="post">
            <h3>{{ post.author }}</h3>
{% if post.image and post.image.name %}
    <img src="{{ post.image.url }}" alt="post image" width="300px" height="200px">
{% else %}
    <img src="{% static 'images/default-post.png' %}" width="300px" height="200px">
{% endif %}
            <p>{{ post.content }}</p>

            <a href="{% url 'posts:detail' post.pk %}">ادامه مطلب</a>

        </div>
      {% endfor %}

    </div>
<input type="checkbox" id="menu-toggle">
<label for="menu-toggle" class="menu-btn">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</label>
<div class="menu-box">
  <div class="menu-item">Home</div>
  <div class="menu-item">Profile</div>
  <div class="menu-item">Settings</div>
<form method="post" action="{% url 'accounts:logout' %}" class="menu-item">
    {% csrf_token %}
    <button type="submit"  >
  <div class="menu-item">Logout</div>
  </form>
    </button>
</form>
</div>
</body>
<script src="{% static 'js/script.js'  %}"></script>
</html>