{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>postino</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% include "includes/sidebar.html" %}
<div id="posts-container">
    {% for post in posts %}
    
    <div class="post">

        <!-- post image -->
        <div class="post-gallery">
            {% if post.image %}
                <div class="gallery-item">
                    <img src="{{ post.image.url }}" alt="post image">
                </div>
            {% endif %}
        </div>

        <!-- header -->
        <div class="post-header">

            <div class="post-user">

                {% if post.author.image %}
                    <img src="{{ post.author.image.url }}" class="profile-image" alt="profile">
                {% endif %}

                <div class="user-data">
                    <h3>{{ post.author }}</h3>

                    {% if post.author.username %}
                        <a href="{% url 'profiles:profile' post.author.username %}" class="username-link">
                            <span>@{{ post.author.username }}</span>
                        </a>
                    {% endif %}
                </div>
            </div>

            <!-- FOLLOW BUTTON (فعلاً placeholder) -->
{% if post.author %}
    {% if request.user.is_authenticated and post.author != request.user.profile %}
        
        {% if post.author.id in follow_set %}
            <form method="post" action="{% url 'profiles:toggle_follow' post.author.id %}">
                {% csrf_token %}
                <button type="submit" class="follow-btn unfollow-style">Unfollow</button>
            </form>
        {% else %}
            <form method="post" action="{% url 'profiles:toggle_follow' post.author.id %}">
                {% csrf_token %}
                <button type="submit" class="follow-btn follow-style">Follow</button>
            </form>
        {% endif %}

    {% endif %}
{% endif %}

        </div>

        <!-- content -->
        <div class="post-content">
            <p>{{ post.content }}</p>
        </div>

        <!-- footer -->
        <div class="post-footer">

            <!-- LIKE -->
            <form method="post" action="#">
                {% csrf_token %}
                <button type="submit" class="action-btn">
                    <img src="/media/like.png" class="action-icon" alt="like">
                    <span>128</span>
                </button>
            </form>

            <!-- COMMENT -->
            <form method="post" action="#">
                {% csrf_token %}
                <button type="submit" class="action-btn">
                    <img src="/media/comment.png" class="action-icon" alt="comment">
                    <span>42</span>
                </button>
            </form>

            <!-- DETAILS -->
            <form method="get" action="{% url 'posts:detail' post.pk %}">
                <button type="submit" class="action-btn">
                    <img src="/media/details.png" class="action-icon" alt="details">
                    <span>details</span>
                </button>
            </form>

        </div>

    </div>
    {% endfor %}

</div>

<center>
    {% if page_obj.has_previous %}
<a href="?page={{ 1 }}">first Page »</a>                                                        <!-- first page  -->
{% endif %}
{% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}">« Previous page</a>                       <!-- previous page  -->

  {% if page_obj.number > 3 %}
    <a href="?page=1">1</a>
    {% if page_obj.number > 4 %}
      <span>...</span>
    {% endif %}
  {% endif %}
{% endif %}

{% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
    <a href="?page={{ num }}">{{ num }}</a>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a href="?page={{ num }}">{{ num }}</a>
  {% endif %}
{% endfor %}

{% if page_obj.has_next %}
  {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
    <span>...</span>
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
  {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
  {% endif %}

  <a href="?page={{ page_obj.next_page_number }}">Next Page »</a>                               <!-- next page  -->
{% endif %}
{% if page_obj.has_next %}
  <a href="?page={{ page_obj.paginator.num_pages }}">last Page </a>                             <!-- last page  -->
{% endif %}
</center>

<script src="{% static 'js/post_list.js' %}"></script>

</body>
</html>