<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Box</title>
    <link rel="stylesheet" href="post.css">
</head>
<body>

    <div class="text-box">

        <div class="user-info">
            <img
                class="profile-img"
                src="../../media/ghost.png"
                alt="profile-icon">

            <p class="id">
                @prmfi
                <span class="online"></span>
            </p>
        </div>

        <div class="text-input">
            <textarea
                class="thread-input"
                placeholder="چه چیزی در ذهنتان است؟"></textarea>
        </div>

        <div class="btn-box">
            <button class="send-btn">
                ارسال
            </button>
        </div>

    </div>

</body>
</html>