{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Post Detail</title>
    <link rel="stylesheet" href="../../static/css/post_detail.css">
</head>
<body>
{% include "includes/sidebar.html" %}
<div class="container">
<div class="post-card">
<div class="post-image-box">
{% if post.image and post.image.name %}

<img src="{{ post.image.url }}" class="post-image">
{% endif %}
</div>
<div class="post-content">
<h1 class="title">Post Details</h1>
<p class="content">
{{ post.content }}
</p>
<div class="info-box">
<p>
Author :
{% if post.author.first_name %}
{{ post.author.first_name }}
{% endif %}
{% if post.author.last_name %}
{{ post.author.last_name }}
{% endif %}
</p>
<p>
Created :
{{ post.created_at }}
</p>
</div>
<div class="buttons">
</form>
</div>
</div>
</div>
</div>
</body>
</html>