{% load static %}
<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ورود</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>

  <body>
    <div class="login-card">
      <h1 class="title">خوش آمدید</h1>

      <form method="post" id="login-form">
        {% csrf_token %}
        
        <div class="field">
          <input type="email" name="email" placeholder="ایمیل" class="input-text" id="email"/>

          {% for error in form.email.errors %}
          <p class="error-text">{{ error }}</p>
          {% endfor %}
        </div>
          <br>
        <div class="field">
          <input type="password" name="password" placeholder="رمز" class="input-text" id="password" />

          {% for error in form.password.errors %}
          <p class="error-text">{{ error }}</p>
          {% endfor %}
        </div>
          <br>

        {% for error in form.non_field_errors %}
        <p class="error-text global-error">{{ error }}</p>
        {% endfor %}

        <button type="submit" class="login-btn">ورود</button>
      </form>
    </div>

    <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>
