body {
   background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    height: 100vh;
    display: flex;
    justify-content: center;
    direction: rtl;
 
}
body{
  margin:0;
  height:100vh;
  background:
  linear-gradient(
  135deg,
  #140b3d,
  #2e2670
  );
  font-family:sans-serif;
}
#menu-toggle{
  display:none;
}
.menu-btn{
  width:60px;
  height:60px;
  border-radius:50%;
  position:fixed;
  top:20px;
  right:20px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  gap:8px;
  cursor:pointer;
  background:
  rgba(255,255,255,0.08);
  backdrop-filter:blur(15px);
  border:
  1px solid rgba(255,255,255,0.1);
  box-shadow:
    0 2px 12px rgba rgba(255, 255, 255, 0.3);
}
.line{
  width:29px;
  height:4px;
  background:white;
  border-radius:20px;
}
.menu-box{
  width:230px;
  position:fixed;
  top:120px;
  right:20px;
  border-radius:20px;
  overflow:hidden;
  max-height:0;
  transition:0.4s;
  background:
  rgba(255,255,255,0.08);
  backdrop-filter:blur(15px);
  border:
  1px solid rgba(255,255,255,0.1);
  box-shadow:
  0 8px 32px rgba(0,0,0,0.3);
}
#menu-toggle:checked ~ .menu-box{
  max-height:400px;
}
.menu-item{
  padding:20px;
  color:white;
  font-size:18px;
  transition:0.3s;
}
.menu-item:hover{
  background:
  rgba(255,255,255,0.1);
}
.menu-box{
    border: none;
}
#posts-container{
    width: 100%;
    max-width: 700px;
    margin: 30px auto;
    margin-top: 180px;
}
.post-card{
    background:#1d1d1d;
    border:1px solid #333;
    border-radius:16px;
    padding:20px;
    color:white;
}
.post-card .user-info{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:15px;
}
.post-card .profile-img{
    width:50px;
    height:50px;
    border-radius:50%;
}
.post-text{
    line-height:1.8;
}