<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>postino</title>
</head>
<link rel="stylesheet" href="../../static/css/edite-profile.css">
<body>
    <div class="edit-profile-card">

    <h1 class="title">
        edit profile
    </h1>
<br>
<br>
    <form id="edit-profile-form" method="post">
      <form id="edit-profile-form" method="post">

    <div class="profile-upload-section">

        <div class="profile-preview">
            <img id="profile-preview-image" src="../../media/default-profile.png" alt="profile">
        </div>

        <div class="upload-box">
            <input type="file" id="profile-upload" accept="image/*" hidden>
            <button type="button" id="upload-btn" class="upload-btn">Upload Profile</button>
        </div>

    </div>

    <input type="text" name="first_name" class="input-text" placeholder="name">
    <input type="text" name="last_name" class="input-text" placeholder="Last Name">
    <input type="text" name="username" class="input-text" placeholder="ID">
    <textarea name="biography" class="input-text biography" placeholder="Bio"></textarea>
    <button type="submit" class="save-btn">Update Profile</button>

</form>

    </form>

</div>
</body>
<script src="../../static/js/edite-profile.js"></script>
</html>