<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postino</title>

    <link rel="stylesheet" href="../../static/css/follower.css">
</head>

<body>
    <div class="search-box">
        <div class="search-container">
            <input
                type="text"
                class="search-input"
                placeholder="دنبال چه کسی میگردی ؟">
            <button class="search-btn">
                    <img
                    src="../../media/search-btn.png"
                    alt="Search">
            </button>
        </div>
    </div>
    <div class="follower-div">
        <div class="user-info">
            <img
            src="../../media/ghost.png"
            alt="Profile"
            class="img-follower">
            <div class="user-text">
            <h3>parham</h3>
            <span>@prmfi0</span>
            </div>
        </div>
        <button class="follow-btn">
            دنبال کردن
        </button>

    </div>

</body>

</html>